@font-face {
  font-family: 'fontello';
  src: url('/static/fonts/fontello.eot?55463775');
  src: url('/static/fonts/fontello.eot?55463775#iefix') format('embedded-opentype'),
       url('/static/fonts/fontello.woff?55463775') format('woff'),
       url('/static/fonts/fontello.ttf?55463775') format('truetype'),
       url('/static/fonts/fontello.svg?55463775#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}



.icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    font-size: 120%; 

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon.big {
    font-size: 50px;
}

.icon.menu {
    font-size: 48px;
}

.icon.medium {
    font-size: 18px;
}

.icon.small {
    font-size: 18px;
}

.icon.huge {
    font-size: 80px;
}

.icon.tiny {
    font-size: 13px;
}

.icon.edit:after {
    content: "\e85a";
}

.icon.next:after {
    content: "\e87e";
}

.icon.previous:before {
    content: "\e87d";
}

.icon.sod:before {
    content: "\E767";
}

.icon.eod:before {
    content: "\E764";
}

.icon.category:before {
    content: "\e830";
}

.icon.disabled:before {
    content: "\1F6AB";
}

.icon.close:before {
    content: "\274C";
}

.icon.error:before {
    content: "\26A0";
}

.icon.info:before {
    content: "\E705";
}

.icon.positive:before {
    content: "\2713";
}

.icon.current-activity:before {
    content: "\2713";
}

.icon.comment:before {
    content: "\E718";
}

.icon.github:before {
    content: "\e8ea";
}

.icon.twitter:before {
    content: "\e8f0";
}

.icon.gplus:before {
    content: "\e003";
}

.icon.crash:before {
    content: '\e83d';
}


