@font-face {
  font-family: 'fontello';
  src: url('/static/fonts/fontello.eot?55463775');
  src: url('/static/fonts/fontello.eot?55463775#iefix') format('embedded-opentype'),
       url('/static/fonts/fontello.woff?55463775') format('woff'),
       url('/static/fonts/fontello.ttf?55463775') format('truetype'),
       url('/static/fonts/fontello.svg?55463775#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}



.icon {
    /* Default settings from Fontello */
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-decoration: inherit;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    font-size: 20px; 

}

.icon.big {
    font-size: 50px;
}

.icon.menu {
    font-size: 48px;
}

.icon.medium {
    font-size: 18px;
}

.icon.small {
    font-size: 18px;
}

.icon.huge {
    font-size: 80px;
}

.icon.tiny {
    font-size: 13px;
}

.icon.edit:after {
    content: "\E85a";
}

.icon.next:after {
    content: "\E87e";
}

.icon.previous:before {
    content: "\E87d";
}

.icon.sod:before {
    content: "\E87f";
}

.icon.eod:before {
    content: "\E87c";
}

.icon.category:before {
    content: "\E830";
}

.icon.disabled:before {
    content: "\1F6AB";
}

.icon.close:before {
    content: "\274C";
}

.icon.error:before {
    content: "\26A0";
}

.icon.info:before {
    content: "\E705";
}

.icon.positive:before {
    content: "\2713";
}

.icon.current-activity:before {
    content: "\2713";
}

.icon.comment:before {
    content: "\E718";
}

.icon.github:before {
    content: "\e8ea";
}

.icon.twitter:before {
    content: "\e8f0";
}

.icon.gplus:before {
    content: "\e003";
}

.icon.crash:before {
    content: '\e83d';
}


