
#create-report input {
    width: 202px;
}

#create-report button {
    width: 216px;
}

.container.week {
    border: 1px solid @widget_border_color;
    background-color: @widget_bg_color;
    color: @emphasis_color;
    border-radius: 4px;
    margin: 20px 0px;
    padding: 10px;
}

table.week {
    margin: 0 auto;
    margin-bottom: 40px;
}

.week h3 {
    text-align: center;
    line-height: 40px;
}

table.week tr {
    line-height: 24px;
}

table.week thead {
    background-color: #fff;
    text-shadow: none;
    font-weight: bold;
}

table.week tbody {
    border: none;
}

table.week tbody tr:nth-child(2n+1) {
    background-color: #efefef;
}

table.week tfoot tr {
    font-weight: bold;
}

table.week thead th.activity {
    width: 200px;
    text-align: left;
}

table.week tbody th {
    //border-top: 1px solid #ccc;
    //border-bottom: 1px solid #ccc;
    //border-left: 1px solid #ccc;
}

table.week th,
table.week td {
    padding: 3px 15px;
    text-align: center;
}

table.week tbody td {
    //border-top: 1px solid #ccc;
    //border-bottom: 1px solid #ccc;
}

table.week tbody tr td:nth-child(8) {
    //border-right: 1px solid #ccc;   
}

table.week td.summary {
    border: none;
    font-style: oblique;
    background-color: #fff;
}