{% extends "../resources/templates/view_base.html" %}

{% block title %}
Change password
{% end %}

{% block pre-main %}
<div class="container">
</div>
{% end %}

{% block main %}
<div class="container main">
    <section class="content">
        <form id="password-form" action="/password" method="POST" data-validation>
            <fieldset>
                <label for="current-password">Current password</label>
                <input type="password" name="current-password" id="current-password"
                    data-validator="required password"
                    data-validator-on="focus-loss" />
            </fieldset>
            <fieldset>
                <label for="new-password">New password</label>
                <input type="password" name="new-password" id="new-password"
                    data-validator="required password"
                    data-validator-on="focus-loss" />
            </fieldset>
            <fieldset>
                <label for="verify-password">Verify new password</label>
                <input type="password" name="verify-password" id="verify-password"
                    data-validator="required password mirror"
                    data-validator-on="focus-loss"
                    data-validator-mirror="new-password" />
            </fieldset>
            
            {% if error == True %}
                <div class="message negative note">
                    <span class="icon error">&nbsp;</span>The given login is not valid!
                </div>
            {% end %}
            {% if done == True %}
                <div class="message positive note">
                    <span class="icon positive">&nbsp;</span>Updated password!
                </div>
            {% end %}
            
            <fieldset>
                <button type="submit">Update</button>
            </fieldset>
    </section>
</div>
{% end %}

{% block post-main %}
{% end %}

{% block modals %}
{% end %}
