{% extends "../resources/templates/view_base.html" %}

{% block title %}
Reset password
{% end %}

{% block pre-main %}
<div class="container">
</div>
{% end %}

{% block main %}
<div class="container main">
    <section class="content">
        <p>Enter the password code you received in the e-mail and the password you want to reset your password.</p>
        <form id="reset-form" action="/reset" method="POST" data-validation>
            <fieldset>
                <label for="code" class="">Code</label>
                {% if code != None and len(code) > 0 %}
                    <input type="text" name="code" id="code"
                        data-validator="required"
                        data-validator-on="focus-loss" 
                        value="{{ code }}"
                         />
                {% else %}
                    <input type="text" name="code" id="code"
                        data-validator="required"
                        data-validator-on="focus-loss" />
                {% end %}
            </fieldset>
            <fieldset>
                <label for="password">New password</label>
                <input type="password" name="password" id="password"
                    data-validator="required password"
                    data-validator-on="focus-loss" />
            </fieldset>
            <fieldset>
                <label for="verify-password">Verify password</label>
                <input type="password" name="verify-password" id="verify-password"
                    data-validator="required password mirror"
                    data-validator-on="focus-loss"
                    data-validator-mirror="password" />
            </fieldset>
            {% if error == True %}
                <div class="message negative note">
                    <span class="icon error">&nbsp;</span>An error occured - could not reset your password!
                </div>
            {% end %}
            <fieldset>
                <button type="submit">Reset</button>
            </fieldset>
        </form>
    </section>
</div>
{% end %}

{% block post-main %}
{% end %}

{% block modals %}
{% end %}
