  {% extends "../resources/templates/view_base.html" %}

{% block title %}
Signup instructions
{% end %}

{% block pre-main %}
<div class="container">
</div>
{% end %}

{% block main %}
<div class="container main">
    <section class="content">
        <h1>Check your e-mail</h1>
        <p>We just sent you an activation link to the e-mail address you just entered. Follow that link and you
        will be able to complete your account.</p>
    </section>
</div>
{% end %}

{% block post-main %}
{% end %}

{% block modals %}
{% end %}
